<!DOCTYPE html>
<!-- This will be for making orders for customers -->
<head>
    <title>Cashier Order Page</title>
    <link rel="stylesheet" href="css/cashier-style.css">
</head>
<body>
    <header>
    <h1>Orders</h1>
    <!-- Weather should be dislayed here at the top right-->
      <div class = "dropdown">
        <button class = "dropbtn">Welcome [User]</button>
        <div class = "dropdown-content">
            <h1> <a href="/"> This is a link to home page</a></h1>
            <h1> <a href="/cashier"> This is a link to cashier page</a></h1>
            <h1> <a href="/cashier/orders"> This is a link to orders page</a></h1>
            <h1> <a href="/cashier/transactions"> This is a link to transactions page</a></h1>
            <p>Logout</p>
        </div>
      </div>
    </header>
    

    <div class = "wrapper-class">
        <div class= "menu-items">
            <% for (var i in menu_items) {%>
                <button class = "menu-item-button" 
                    onclick="openPopup('<%=menu_items[i].name%>', '<%=menu_items[i].price%>')">
                    <img>
                    <h4>Name: <%=menu_items[i].name%></h4>
                    <h6>Price: <%=menu_items[i].price%></h6>
                </button>
            <% } %>
        </div>
        <div class = "checkout-menu">
            <div class="checkout-items" id = "checkout-items"></div>    
            <a href="/cashier/checkout"><button class ="checkout-button">Checkout</button></a>
        </div>
    </div>

    <footer>
        <div class = "dropdown">
            <button class = "dropbtn">Change Language</button>
            <div class = "dropdown-content">
                <p>English</p>
                <p>Spanish</p>
                <p>Vietnamese</p>
            </div>
          </div>

    </footer>

<script src="/js/cashier-logic.js"></script>

</body>

<div class = "popup-overlay" id = "popup-overlay">
    <div class="popup" id="popup">
        <div class = "dropdown" id="flavor-dropdown" style="padding: 20px; align-self: center;">
            <button class = "dropbtn" id="flavor-display">Choose a flavor &darr;</button>
            <div class = "dropdown-content">
                <% for(var i in flavors){%>
                    <button class="popupBtn" onclick="flavorDropdownUpdate('<%=flavors[i].name%>')"><%=flavors[i].name%></button>
             <%}%>
            </div>
        </div>
        <div>
            <label for="Quantity" style="padding: 20px;" value="1">Quantity:</label>
            <input type="text" id="Quantity" name="Quantity">
        </div>

        <!--https://stackoverflow.com/questions/26612700/ticks-for-type-range-html-input-->

        <div class = "slider-container" id="sugar-slider" style="padding: 20px;">
            <span>0%</span>
            <input type ="range" min="0" max="100" step="20" onchange="updateSugarSlider()" value="80">
            <span>120%</span>
            <div>Sugar Level: <span id="sugar-level">100%</span></div>
        </div>
        <div class = "slider-container" id="ice-slider" style="padding: 20px">
            <span>No Ice</span>
            <input type ="range" min="0" max="3" step="1" onchange="updateIceSlider()" value="2">
            <span>Extra Ice</span>
            <div>Ice Level:<span id="ice-level">Regular</span></div>
        </div>
        <div>
            <% for (var i in addons){%>
                <input type="checkbox" name="addon" value="false" data-name = "<%=addons[i].name%>" data-price="<%=addons[i].price%>">
                <label for="addon" style="display: block;">
                    <img height="20px" width="20px"><br>
                    <h4><%=addons[i].name%></h4><br>
                    <h6>Price: <%=addons[i].price%></h6>
                </label>
            <%}%>
        </div>
        <button onclick="returnToMenu()">Return to menu</button>
        <button onclick="updateCheckout()">Proceed to checkout</button>
    </div>
</div>
</html>