<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu and Inventory Page</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <script>
        var add = function () {
            fetch('add');
            fetch('hitNum')
                .then(response => response.json())
                .then(data => document.getElementById('hits').innerText = data)
                .catch(error => console.log(error));
        }

        var display_inventory_modifier = function (id, ingredient, amount, cost_per_amount) {
            console.log("mod: ", id, ingredient, amount, cost_per_amount);

            document.getElementById('ingredient').value = ingredient;
            document.getElementById('amount').value = amount;
            document.getElementById('cost-per').value = cost_per_amount;

            document.getElementById('window-header').innerText = "Modify Inventory Item";
            document.getElementById('add-window-button').style.display = "none";
            document.getElementById('modify-window-button').style.display = "block";

            document.getElementById("menu-item-forms").style.display = "none";
            document.getElementById("inventory-forms").style.display = "block";
            document.getElementById("addon-forms").style.display = "none";
        }

        var display_inventory_adder = function () {
            display_inventory_modifier("", "", "", "");
            console.log("inventory adder");
            document.getElementById('window-header').innerText = "Add Inventory Item";
            
            document.getElementById('add-window-button').style.display = "block";
            document.getElementById('modify-window-button').style.display = "none";
            document.getElementById("addon-forms").style.display = "none";
        }

        var display_menu_item_adder = function () {
            document.getElementById('tea-type').value = "";
            document.getElementById('tea-price').value = "";

            document.getElementById('window-header').innerText = "Add Menu Item";

            document.getElementById("inventory-forms").style.display = "none";
            document.getElementById("menu-item-forms").style.display = "block";
            document.getElementById("addon-forms").style.display = "none";
        }

        var display_addon_adder = function () {
            document.getElementById('addon-name').value = "";
            document.getElementById('addon-price').value = "";

            document.getElementById('window-header').innerText = "Add New Addon";

            document.getElementById("inventory-forms").style.display = "none";
            document.getElementById("menu-item-forms").style.display = "block";
            document.getElementById("addon-forms").style.display = "none";
        }
        
    </script>
</head>

<body>
    <header>
        <h1>Inventory and Menu</h1>
        
        <nav>
            <a href="/">Home</a>
            <a href="/manager/employees">Employees</a>
            <a href="/manager/reports">Reports</a>
            <a href="/manager/menu_inventory">Inventory and Menu</a>
        </nav>
    </header>
    
    <div class="modify-window">
        <h2 id="window-header">Modify placeholder window</h2>
        <!--
            <button onclick='add()'>Hi</button>
            <p id="hits"></p>
        -->
    
        <div id="inventory-forms">
            <label for="ingredient" id="ingredient-name">Ingredient</label>
            <input name="ingredient-form" id="ingredient" type="text"></input>
            <label for="amount" id="amount-value">Amount</label>
            <input name="amount-form" id="amount" type="text"></input>
            <label for="cost-per" id="cost-per-value">Cost Per Amount</label>
            <input name="cost-per-form" id="cost-per" type="text"></input>
            <button Id="modify-window-button">Modify</button>
            <button Id="add-window-button">Add</button>
        </div>

        <div id="menu-item-forms">
            <label for="tea-type" id="tea-name">Tea Type</label>
            <input name="tea-form" id="tea-type" type="text"></input>
            <label for="tea-price" id="tea-price-label">Price</label>
            <input name="tea-price-form" id="tea-price" type="text"></input>
            <button class="add-window-button">Add</button>
        </div>

        <div id="addon-forms">
            <label for="addon" id="addon-name"></label>
            <!--do not want modification for the tea type, but we want modification of pricing-->
            <input name="addon-form" id="addon" type="text"></input>
            <label for="addon-price" id="addon-price-label"></label>
            <input name="addon-price-form" id="addon-price" type="text"></input>
            <button class="add-window-button">Add</button>
        </div>
    </div>

    <div class="container">
        <h2>Inventory Items</h2>
        <% for (var i in inventory) {%>
            <div class="grid">
                <p><%=inventory[i].ingredient%>, amount: <%=inventory[i].amount%>, cost: <%=inventory[i].cost_per_amount%><p>
                <button onclick='display_inventory_modifier("<%=inventory[i].item_id%>", "<%=inventory[i].ingredient%>", "<%=inventory[i].amount%>", "<%=inventory[i].cost_per_amount%>")'>Edit</button>
                <button class="delete-button">Delete</button>
            </div>
        <% } %>
        
        <button class="add-button" onclick="display_inventory_adder()">+</button>
    </div>

    <div class="container">
        <h2>Menu Items</h2>
        <% for (var i in menu_items) {%>
            <div class="grid">
                <p>Name: <%=menu_items[i].name%> Price: <%=menu_items[i].price%><p>
                <button class="delete-button">Delete</button>
            </div>
        <% } %>
        <button class="add-button" onclick='display_menu_item_adder()'>+</button>
    </div>

    <div class="container">
        <h2>Addons</h2>
        <% for (var i in addons) {%>
            <div class="grid">
                <p>Name: <%=addons[i].name%><p>
                <button class="delete-button">Delete</button>
            </div>
        <% } %>
        <button class="add-button" onclick="display_addon_adder()">+</button>
    </div>

    <div class="container">
        <h2>Flavors</h2>
        <% for (var i in flavors) {%>
            <div class="grid">
                <p>Name: <%=flavors[i].name%><p>
                <button class="delete-button">Delete</button>
            </div>
        <% } %>
        <button class="add-button">+</button>
    </div>

    <footer>
        <p>Footer</p>
    </footer>
</body>