<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reports Page</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header>
      <h1>Reports</h1>
      
      <nav>
          <a href="/">Home</a>
          <a href="/manager/employees">Employees</a>
          <a href="/manager/reports">Reports</a>
          <a href="/manager/menu_inventory">Inventory and Menu</a>
      </nav>
  </header>

   <% for (var i in orders) {%>
       <p>Order details: order number: <%=orders[i].order_number%>, date: <%=orders[i].date%>, time: <%=orders[i].time%>, tea type: <%=orders[i].tea_type%>, flavor: <%=orders[i].flavor%><p>
   <% } %>
</body>